@font-face {
    font-family: Inconsolata;
    src: url(./fonts/Inconsolata/Inconsolata_Condensed-Bold.ttf);
}

.flexbox-space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
body{
    background: rgb(63,94,251);
    background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(255,207,90,1) 78%, rgba(252,70,107,1) 100%);
    font-family: 'Inconsolata';
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

nav{
    width: 40%;
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: black;
}

img{
    width: 15%;
}

@media (max-width: 1024px){
    nav{
        width: 50%;
    }
}